<p>homepage works!</p>
<form [formGroup]="form">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" formControlName="title" name="title" id="titleId" placeholder="Set a title for your trip">
      </div>
	<!-- Day -->
	<div formArrayName="Day">
        <div class="container">
		<div *ngFor="let X of form['controls'].Day['controls']; let ix=index">
			<div formGroupName="{{ix}}" class="Day">
                <div class="card-header" id="{{ 'dayId' + ix }}">
                    Day {{ix+1}}
                  </div>
                  <div class="form-group row mb-2">
                    <label class="col-md-1 col-form-label" [attr.for]="i">Date: </label>
                    <div class="col-md-8">
                <input type="date" formControlName="X">
            </div>
        </div>
				<!-- <p>{{ formErrors.Day[ix].X }}</p> -->
				<!-- Travel -->
				<div formArrayName="Travel">
					<div *ngFor="let Y of X['controls'].Travel['controls']; let iy=index">
						<div formGroupName="{{iy}}" class="Travel">
                            <div class="card-header" id="{{ 'travelId' + iy }}">
                                Travel Detail {{iy+1}}
                              </div>
                              <div class="form-group row mb-2">
                              <button class="btn btn-outline-primary"
                              type="button" style="margin-left:920px; font-size: 12px;"
                              (click)="deleteDetail(iy)">
                              Delete Travel Details
                              </button>
                              </div>
                              <div class="inputs">
                            <div class="form-group row mb-2">
                                <label class="col-md-2 col-form-label" [attr.for]="iy">From:</label>
                                  <div class="col-md-8"> 
							<input type="text" formControlName="from">
                            <p> {{ formErrors.Day[ix].Travel[iy].from }}</p>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label" [attr.for]="iy">To:</label>
                          <div class="col-md-8">  
							<input type="text" formControlName="to">
							<p>{{ formErrors.Day[ix].Travel[iy].to }}</p>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label" [attr.for]="iy">Starting on:</label>
                          <div class="col-md-8">  
							<input type="text" formControlName="tripstart" style="column-width: 170px;">
							<p>{{ formErrors.Day[ix].Travel[iy].tripstart }}</p>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label" [attr.for]="iy">Returning:</label>
                          <div class="col-md-8">  
							<input type="text" formControlName="return">
							<p>{{ formErrors.Day[ix].Travel[iy].return }}</p>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label" [attr.for]="iy">Cost:</label>
                      <div class="col-md-8">
							<input type="text" formControlName="travelcost">
							<p>{{ formErrors.Day[ix].Travel[iy].travelcost }}</p>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label" [attr.for]="iy">Mode of Transport:</label>
                        <div class="col-md-8">
							<select formControlName="transport">
                                <option value="flight">Flight</option>
                                <option value="train">Train</option>
                                <option value="car">Car</option>
                                <option value="ferry">Ferry</option>
                                <option value="bike">Bike</option>
                                <option value="others">Others</option>
                              </select>
                        </div>
                    </div>
                </div>
                    <!-- <div class="form-group row mb-2" *ngIf="selectedValue == 'others'">
                        <label class="col-md-2 col-form-label" [attr.for]="iy">If others, please specify below:</label>                
                        <div class="col-md-8">     
							<input type="text" formControlName="Y7">
                        </div>
                    </div> -->
							<!-- Z -->
							<div formArrayName="Activity">
								<div *ngFor="let Z of Y['controls'].Activity['controls']; let iz=index">
									<div formGroupName="{{iz}}" class="Activity">
                                        <div class="card-header" id="{{ 'activityId' + iz }}">
                                            Activity {{iz+1}}
                                          </div>
                                          <div class="form-group row mb-2">
                                            <button class="btn btn-outline-primary" type="button" style="margin-left:900px; font-size: 12px;"
                                              (click)="deleteActivity(i)">
                                              Delete Activity
                                            </button>
                                            <br />
                                          </div>
                                          <div class="form-group row mb-2">
                                            <label class="col-md-2 col-form-label" [attr.for]="iz">Location:</label>
                                            <div class="col-md-8">
										<input type="text" formControlName="location" style="column-width: 170px;">
                                        <!-- <p>{{ formErrors.Day[ix].Travel[iy].Activity[iz].Z1 }}</p> -->
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-md-2 col-form-label" [attr.for]="iz">Category:</label>
                                    <div class="col-md-8">
                                      <input type="text" placeholder="Description"
                                        formControlName="category" style="column-width: 170px;">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-2">
                                    <label class="col-md-2 col-form-label" [attr.for]="iz">Time Start:</label>
                                    <div class="col-md-8">
                                      <input type="time" class="form-control" placeholder="Time Start"
                                        formControlName="timestart" style="column-width: 170px;">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-2">
                                    <label class="col-md-2 col-form-label" [attr.for]="iz">Time End:</label>
                                    <div class="col-md-8">
                                      <input type="time" class="form-control" id="{{ 'timeendId' + iz }}" placeholder="Time End"
                                        formControlName="timeend" style="column-width: 170px;">
                                    </div>
                                  </div>
                                  <!-- </div> -->                        
                                  <div class="form-group row mb-2">
                                    <label class="col-md-2 col-form-label" [attr.for]="iz">Cost:</label>
                                    <div class="col-md-8">
                                      <input type="text" class="form-control" id="{{ 'costId' + iz }}" placeholder="Cost" formControlName="cost">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-2">
                                    <label class="col-md-2 col-form-label" for="starRatingId" [attr.for]="iz">Star Rating (1-5):</label>
                                    <div class="col-md-8">
                                      <input class="form-control" id="{{'starRatingId'+iz}}" type="text" placeholder="Rating (1-5)"
                                        formControlName="starRating">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-2">
                                    <label class="col-md-2 col-form-label" [attr.for]="iz">Review Description:</label>
                                    <div class="col-md-8">
                                      <textarea type="text" class="form-control" id="{{ 'reviewdescriptionId' + iz }}"
                                        placeholder="Review Description if any" formControlName="reviewdescription"></textarea>
                                    </div>
                                  </div>
									</div>
								</div>
								<input type="button" (click)="addZ(ix,iy)" value="Add Z">
							</div>
							<!-- Z End -->
                        </div>
						</div>
					</div>
					<input type="button" (click)="addY(ix)" value="Add Y">
				</div>
				<!-- Travel End-->
			</div>
		</div>
		<input type="button" (click)="addX()" value="Add X">
	</div>
	<!-- Day End -->
</form>

		<h5>Field Values</h5>
		<pre style="font-size:15px">{{ form.value | json }}</pre>

