<form [formGroup]="confirmForm">
  <h2>Confirm your email address</h2>
  <!-- <mat-form-field> -->
      <input placeholder="Email" type="email" formControlName="email">
  <!-- </mat-form-field>
  <mat-form-field> -->
      <input placeholder="Confirmation Code" type="text" formControlName="code" required>
      <p *ngIf="!codeInput.value">Enter the confirmation code that was emailed to you</p>
  <!-- </mat-form-field> -->
  <button color="primary" (click)="confirmCode()">Confirm</button>
  <p>Didn't receive a code? <a href="javascript:void(null)" (click)="sendAgain()">Send again</a></p>
</form>