/* .body-activity-leg{
    margin: 12px 12px 12px 12px;
     border-style: dashed;
       border-width: medium; 
        border-color:white;
  } */
  .form-group-time
{
    column-width: 170px;
}
.default{
  /* margin-top: 100px;*/
  margin-bottom: 30px; 
  margin-right: 80px;
  /* margin: 12px 12px 12px 12px; */
     border-style: dashed;
       border-width: medium; 
        border-color:white;
  /* margin-left: 80px; */
}