<form class="default" novalidate
  [formGroup]="activityForm">
    <div formArrayName="activityDetails">
      <div class="container">
      <div [formGroupName]="i"
                *ngFor="let activityDetail of activityDetails.controls; let i=index">
                <div class="card-header" id="{{ 'activityId' + i }}" >
                  Activity {{i+1}}
                </div>
                <div class="body-activity-leg">
                <button class="btn btn-outline-primary"
                type="button" style="float: right; margin-left:20px;"
                (click)="deleteActivity(i)">
                Delete Activity
                </button>
                <br/>
                <div class="form-group">
                  <label for="location" [attr.for]="i">Location</label>
                  <input type="text" 
                  class="form-control" 
                  id="{{ 'locationId' +i }}" 
                  placeholder="Set a title for your trip">
                </div>
        <div class="inputs">
          <label for="description" [attr.for]="i">Activity Description</label>  
               
            <div class="col">       
            <input type="text" class="form-control" 
            id="{{ 'descriptionId' + i }}" 
            placeholder="Description"
            formControlName="description">
            </div>
          
          <br/>
        
            <div class="form-group">
              <label for="cost" [attr.for]="i">Time:</label>
                <input type="time" class="form-control" id="{{ 'timeId' + i }}"
                placeholder="Time"
                formControlName="time"><br/>
            </div>
          
        
          <div class="form-group">
            <label for="cost" [attr.for]="i">Cost:</label>
              <input type="text" class="form-control" id="{{ 'costId' + i }}"
              placeholder="Cost"
              formControlName="cost"><br/>
          </div>
        
    </div>
    <div>
</div>
</div>
</div>
</div>
  <div class="form-group row mb-2">
    <div class="col-md-4">
      <button class="btn btn-outline-primary"
              type="button"
              (click)="addActivity()">
        Add Activity
      </button>
    </div>
  </div>
  </div>
</form>		