<form id="searchForm" [formGroup]="searchForm">
    <div class="form-group">
      <label>Category:</label>
      <select class="form-control" formControlName="category" style="width:800px;">
        <option value="food">food</option>
        <option value="sightsee">sightsee</option>
        <option value="shopping">shopping</option>
      </select>
        <!-- <input type="text" class="form-control-category" 
        placeholder="Category" 
        formControlName="category"
        style="width:800px;"> -->
    </div>
    <div class="form-group">
      <input type="text" 
      class="form-control-description" 
      placeholder="Search plans with keywords/description" 
      formControlName="description"
      style="width:800px;">
  </div>
  <div class="form-group">
    <label>Rating (1-5):</label>
    <select class="form-control" formControlName="stars" style="width:800px;">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
</div>
  <div class="form-group">
    <input type="text" 
    class="form-control-costStart" 
    placeholder="Cost Start" 
    formControlName="startCost"
    style="width:350px;"> 

    <div *ngIf="f.startCost.invalid" class="alert alert-danger">
      <div *ngIf="f.startCost.errors.pattern">Enter only number.</div>
    </div>

    <input type="text" 
    class="form-control-costEnd" 
    placeholder="Cost End" 
    formControlName="endCost"
    style="width:350px;">
    <div *ngIf="f.endCost.invalid" class="alert alert-danger">
      <div *ngIf="f.endCost.errors.pattern">Enter only number.</div>
    </div>
</div>
    <button class="btn btn-default" style="width:200px;" (click)="searchPlan()">
        Generate Plan
    </button>
</form>
<!-- <table *ngIf="searchResults">
    <thead>
    <tr>
      <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let plan of searchResults; let i=index">
      <td><a [routerLink]="['/plans', plan.id]">{{plan.title}}</a></td>
    </tr>
    </tbody>
  </table> -->