<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0"
                   *ngIf="plans && plans.length">
              <thead>
                <tr>
                  <h1><th>Title</th></h1>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let plan of filteredPlans">
                  <td>
                    <h4>
                    <a [routerLink]="['/plans', plan.id]">
                      {{ plan.title }}
                    </a>
                  </h4>
                  </td>
                  <!-- <td>
                    <a>
                      {{ plan.days.date }}
                    </a>
                  </td> -->
                  <!-- <td>{{ product.productCode }}</td>
                  <td>{{ product.releaseDate }}</td>
                  <td>{{ product.price | currency:"USD":"symbol":"1.2-2" }}</td>
                  <td>
                    <pm-star [rating]="product.starRating">
                    </pm-star>
                  </td>
                  <td>
                    <button class="btn btn-outline-primary btn-sm"
                            [routerLink]="['/products', product.id, 'edit']">
                      Edit
                    </button>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>


    </div>
</div>
<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
