<form>
        <div>
            <h1 >Register with My APP</h1>
        </div>
        <div>
            <label for="name">Username</label>
            <input type="text" name="name" [(ngModel)]="name" required placeholder="name">
        </div>
        <div>
            <label for="email">Email address</label>
            <input type="email" name="email" [(ngModel)]="email" required placeholder="name@host.com">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="password" name="password" required placeholder="Enter your password">
        </div>
        <div>
            <br />
            <button (click)="register()" class="btn btn-primary btn-block" type="button"> Register </button>
        </div>
    </form>
    <p class="text-dark mb-0">Already a member?<a href="/user/login" class="text-primary ml-1">Login</a></p>