.form-row-name{
    column-width: 400px;
}
.form-group{
column-width: 570px;
-ms-grid-row-align: start;
}
.form-group-s-r
{
    column-width: 200px;
}
.form-group-s-d
{
    column-width: 200px;
}
.form-group-dates
{
    column-width: 200px;
}
agm-map {
    height: 300px;
  }
/* .card-body-travel{
    margin: 12px 12px 12px 12px;
     border-style: groove;
       border-width: medium; 
        border-color: white;
  } */
  .body-form-leg{
    margin: 12px 12px 12px 12px;
     border-style: groove;
       border-width: medium; 
        border-color:white;
        /* padding: 20px 20px; */
  }