<form>
    <div>
    <label for="email">User name</label>
     <input type="text" name="name" [(ngModel)]="name" required placeholder="Enter your user name">
   </div>
    <div>
    <label for="password">Password</label>
    <input type="password" name="password" [(ngModel)]="password" required id="password"
     placeholder="Enter your password">
   </div>
  
        <div>
    <br />
      <button (click)="loginWithCognito()" class="btn btn-primary btn-block" type="button"> Log In </button>
   
        </div>
        <button (click)="signInWithFacebook()" class="btn btn-primary btn-block" type="button">Sign In with Facebook</button><br/><br/>
    </form>
    <p class="text-dark mb-0">Not a member?<a href="/user/sign-up" class="text-primary ml-1">Sign Up now</a></p>