<form class="default" novalidate
  [formGroup]="travelForm">
  <div formArrayName="travellerDetails">
    <div class="container">
    <div [formGroupName]="i"
              *ngFor="let travellerDetail of travellerDetails.controls; let i=index">
              <div class="card-header" id="{{ 'travelId' + i }}">
                Traveller Detail {{i+1}}
              </div>
            <div class="body-travel-leg">
              <button class="btn btn-outline-primary"
              type="button" style="float: right; margin-left:20px;"
              (click)="deleteDetail(i)">
              Delete Traveller Details
              </button>
              <br/>
      <div class="inputs">
        <label for="exampleFormControlTextarea1" [attr.for]="i">Traveller Name</label>  
        <div class="form-row-name">       
          <div class="col">       
          <input type="text" class="form-control" 
          id="{{ 'firstNameId' + i }}" 
          placeholder="First name"
          formControlName="firstName">
          </div>
          <br/>
        <div class="col">
          <input type="text" class="form-control" 
          id="{{ 'lastNameId' + i }}" 
          placeholder="Last name"
          formControlName="lastName">
          </div>
        </div>
        <br/>
      <div class="form-group-s-r">
        <div class="form-group">
          <label for="exampleFormControlInput1" [attr.for]="i">Starting From:</label>
            <input type="text" class="form-control" id="{{ 'startId' + i }}"
            placeholder="Travelling From"
            formControlName="start"><br/>
        </div>
        <div class="form-group">
        <label for="exampleFormControlInput1" [attr.for]="i">Reaching To:</label>
        <input type="text" class="form-control" id="{{ 'reachId' + i }}" 
        formControlName="reach"
        placeholder="Travelling To">
        </div>
      </div>
      <div class="form-group-mode">
        <label for="exampleFormControlSelect1" [attr.for]="i">Mode of Transport</label>
        <select class="form-control" id="{{'transportId'+i}}" formControlName="transport">
          <option value="flight">Flight</option>
          <option value="train">Train</option>
          <option value="car">Car</option>
          <option value="audi">Ferry</option>
          <option value="audi">Others</option>
        </select>
      </div>
      
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio"
           id="{{'bookedTicketId'+i}}" value="bookedTicket" formControlName="bookedTicket">
          <label class="form-check-label" for="exampleRadios1" [attr.for]="i">
            Booked Tickets
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio"
          id="{{'yetToBookId'+i}}" value="yetToBook" formControlName="yetToBook">
          <label class="form-check-label" for="exampleRadios2" [attr.for]="i">
            Yet to proceed with bookings
          </label>
        </div>
      </div>
    <div class="form-group-dates">
      <div class="form-group">
    <label for="exampleFormControlInput1" [attr.for]="i">Starting on:</label>
      <input type="date" class="form-control" id="{{ 'startingOnId' + i }}" 
      formControlName="startingOn" 
      placeholder="Travelling From"><br/>
      </div>
      <div class="form-group">
      <label for="exampleFormControlInput1" [attr.for]="i">Returning:</label>
      <input type="date" class="form-control" id="{{ 'returningOnId' + i }}" 
      formControlName="returningOn" 
      placeholder="Travelling To">
    </div>
    </div>
  </div>
  <div>
</div>
</div>
</div>
</div>
  </div>
<div class="form-group row mb-2">
  <div class="col-md-4">
    <button class="btn btn-outline-primary"
            type="button"
            (click)="addDetail()">
      Add Traveller Details
    </button>
  </div>
</div>
</form>